@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("./fonts/roboto/Roboto-Medium.ttf");
}

.advantages-page {
  padding: 120px 181px 122px 181px;
}

.header-text {
  font-family: RobotoBold;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
  text-align: center;
}

.highlight-stroke {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  margin: 20px auto 88px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #383838;
  text-align: center;
  display: inline-block;
  margin-top: 48px;
}
