include ../components/mixins

mixin item-img-cap(href, name)
  figure.advantages__item.col-lg-3.col-sm-4
    svg.advantages__item--icon
      use(href=href)
    figcaption.advantages__item--caption= name

section.advantages
  +title('What do we offer')
  .advantages__list
    +item-img-cap('#headset', 'Communicate directly')
    +item-img-cap('#forum', 'Support 24/7')
    +item-img-cap('#devices', 'Book online')
    +item-img-cap('#like', 'Real guest reviews')
