mixin destinations
  section.destinations
    h2.destinations__title The best destinations
    .destinations__tabs
      .destinations__tab
        input#regions.destinations__tab--input(type='radio', name='tabs', checked='')
        label.destinations__tab--label(for='regions') Regions
        ul.destinations__tab--content
          li.col-lg-3.col-sm-3
            #maldives.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Maldives
          li.col-lg-3.col-sm-3
            #spain.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Spain
          li.col-lg-3.col-sm-3
            #norway.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Norway
          li.col-lg-3.col-sm-3
            #island.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Island
        button.destinations__circle(type='button')
          svg.destinations_arrow
            use(href='#arrow')
        ul.destinations__tab--content__regions
          li.col-lg-3.col-sm-3
            #japan.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Japan
          li.col-lg-3.col-sm-3
            #france.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption France
          li.col-lg-3.col-sm-3
            #scottland.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Scottland
          li.col-lg-3.col-sm-3
            #russia.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Russia
      .destinations__tab
        input#cities.destinations__tab--input(type='radio', name='tabs')
        label.destinations__tab--label(for='cities') Cities
        ul.destinations__tab--content
          li.col-lg-3.col-sm-3
            #berlin.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Berlin, Germany
          li.col-lg-3.col-sm-3
            #paris.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Paris, France
          li.col-lg-3.col-sm-3
            #budapest.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Budapest, Hungary
          li.col-lg-3.col-sm-3
            #london.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption London, United Kingdom
          li.col-lg-3.col-sm-3
            #barcelona.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Barcelona, Spain
          li.col-lg-3.col-sm-3
            #tbilisi.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Tbilisi, Georgia
          li.col-lg-3.col-sm-3
            #moscow.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption
              | Moscow, Russia
          li.col-lg-3.col-sm-3
            #amsterdam.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Amsterdam, Netherlands
      .destinations__tab
        input#places.destinations__tab--input(type='radio', name='tabs')
        label.destinations__tab--label(for='places')
          | Places
          |
          span of interest
        ul.destinations__tab--content
          li.col-lg-3.col-sm-3
            #edinburgh.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Edinburgh Castle, Edinburgh, United Kingdom
          li.col-lg-3.col-sm-3
            #neuschwanstein.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Neuschwanstein, Fussen, Germany
          li.col-lg-3.col-sm-3
            #big-ben.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Big Ben, London, United Kingdom
          li.col-lg-3.col-sm-3
            #colosseum.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Colosseum, Roma, Italy
          li.col-lg-3.col-sm-3
            #matterhorn-zermatt.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Matterhorn, Zermatt, Switzerland
          li.col-lg-3.col-sm-3
            #morskie-oko.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Morskie Oko, Poland
          li.col-lg-3.col-sm-3
            #krka.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Krka, Croatia
          li.col-lg-3.col-sm-3
            #cabo-da-roca-sintra.destinations__content--img
              button.destinations__content--button Book now
            span.destinations__content--caption Cabo da roca, Sintra, Portugal
