mixin footer
  footer.footer
    svg.footer__logo
      use(href='#logo')
    .footer__container
      .footer__menu
        .footer__column
          a.footer__title(href='#') About
          a.footer__item(href='#') How Triphouse works
          a.footer__item(href='#') Careers
          a.footer__item(href='#') Privacy
          a.footer__item(href='#') Terms
        .footer__column
          a.footer__title(href='#') Property types
          a.footer__item(href='#') Guest houses
          a.footer__item(href='#') Hotels
          a.footer__item(href='#') Apartments
          a.footer__item(href='#') Villas
          a.footer__item(href='#') Holiday homes
          a.footer__item(href='#') Hostels
        .footer__column
          a.footer__title(href='#') Support
          a.footer__item(href='#') Contact Customer Service
          a.footer__item(href='#') FAQ
      span.footer__rights &copy; 2022 Triphouse, Inc. All rights reserved
