mixin menu-item(className,name)
  a(class=className)(href='#')= name

footer.footer
  svg.footer__logo
    use(href='#logo')
  .footer__container
    .footer__menu
      .footer__column
        +menu-item('footer__title','About')
        +menu-item('footer__item','How Triphouse works')
        +menu-item('footer__item','Careers')
        +menu-item('footer__item','Privacy')
        +menu-item('footer__item','Terms')
      .footer__column
        +menu-item('footer__title','Property types')
        +menu-item('footer__item','Guest houses')
        +menu-item('footer__item','Hotels')
        +menu-item('footer__item','Apartments')
        +menu-item('footer__item','Villas')
        +menu-item('footer__item','Holiday homes')
        +menu-item('footer__item','Hostels')
      .footer__column
        +menu-item('footer__title','Support')
        +menu-item('footer__item','Contact Customer Service')
        +menu-item('footer__item','FAQ')
    span.footer__rights &copy; 2022 Triphouse, Inc. All rights reserved
