mixin reviews
  section.reviews
    h2.reviews__title Guests reviews
    ul.reviews__list
      li.reviews__item.col-lg-4.col-sm-6
        #ubud-bali-resort-spa.reviews__item--img
          .reviews__item--price
            | From
            |
            span 250 USD
        .reviews__item--caption
          .reviews__item--caption__hotel-score--wrapper
            .reviews__item--caption__hotel--wrapper
              .reviews__item--caption__hotel
                | Ubud Bali Resort&amp;SPA
              .reviews__item--caption__location
                | Bali, Indonesia
            .reviews__item--caption__score--wrapper
              .reviews__item--caption__score 9,4
              .reviews__item--caption__reviews-amount
                | 1324 reviews
          .reviews__item--caption__user--wrapper
            svg.reviews__item--caption__user-avatar
              use(href='#user-avatar')
            .reviews__item--caption__user-name--wrapper
              .reviews__item--caption__user-name
                | Hanna Ivanova
              .reviews__item--caption__user-country
                | &#x1F1FA;&#x1F1E6; Ukraine
          .reviews__item--caption__user-review
            | Great location, really pleasant and clean rooms, but the thing
            | that makes this such a good place to stay are the staff. All of
            | the people are incredibly helpful and generous with their time
            | and advice.
      li.reviews__item.col-lg-4.col-sm-6
        #king-kong-hostel.reviews__item--img
          .reviews__item--price
            | From
            |
            span 40 USD
        .reviews__item--caption
          .reviews__item--caption__hotel-score--wrapper
            .reviews__item--caption__hotel--wrapper
              .reviews__item--caption__hotel
                | King Kong Hostel
              .reviews__item--caption__location
                | Rotterdam, Netherlands
            .reviews__item--caption__score--wrapper
              .reviews__item--caption__score 8,9
              .reviews__item--caption__reviews-amount
                | 2016 reviews
          .reviews__item--caption__user--wrapper
            svg.reviews__item--caption__user-avatar
              use(href='#user-avatar')
            .reviews__item--caption__user-name--wrapper
              .reviews__item--caption__user-name
                | Adam Smith
              .reviews__item--caption__user-country &#x1F1FA;&#x1F1F8; USA
          .reviews__item--caption__user-review
            | I&apos;ve been in this hostel for a month and here is the best hostel
            | of all Excellent management of excellent and ethical staff and
            | bedrooms Bathrooms are always clean and excellent Most
            | importantly, those who work here are kind and good-natured.
      li.reviews__item.col-lg-4.col-sm-6
        #rokoko-hotel.reviews__item--img
          .reviews__item--price
            | From
            |
            span 100 USD
        .reviews__item--caption
          .reviews__item--caption__hotel-score--wrapper
            .reviews__item--caption__hotel--wrapper
              .reviews__item--caption__hotel Rokoko Hotel
              .reviews__item--caption__location
                | Ourika, Marocco
            .reviews__item--caption__score--wrapper
              .reviews__item--caption__score 9,1
              .reviews__item--caption__reviews-amount
                | 815 reviews
          .reviews__item--caption__user--wrapper
            svg.reviews__item--caption__user-avatar
              use(href='#user-avatar')
            .reviews__item--caption__user-name--wrapper
              .reviews__item--caption__user-name
                | Anika Messer
              .reviews__item--caption__user-country
                | &#x1F1E9;&#x1F1EA; Germany
          .reviews__item--caption__user-review
            | Efficient, friendly, professional, and appropriately attentive.
            | Great hotel in a great location. Easy access to all the
            | surrounding historical sites. Staff is fantastic. Will
            | definitely stay at this location during my next stay in Marocco.
      li.reviews__list--button
        svg.reviews_arrow
          use(href='#arrow')
      li.reviews__navigation
        .reviews__navigation--dot
        .reviews__navigation--dot
        .reviews__navigation--dot
        .reviews__navigation--dot
