mixin sign-up
  section.sign-up
    svg.sign-up__close
      use(href='#close')
    .sign-up__wrapper
      .sign-up__user-icon--wrapper
        svg.sign-up__user-icon
          use(href='#user')
      .sign-up__logo--wrapper
        svg.sign-up__logo
          use(href='#logo')
      .sign-up__title--wrapper
        h2.sign-up__title
          | Sign up and get 20% off your first booking
        button.sign-up__button Sign up
        button.sign-up__button--install Install
