/* THE BEST DESTINATIONS */

#maldives {
  background-image: url('../assets/images/destinations/maldives.png');
}

#spain {
  background-image: url('../assets/images/destinations/spain.png');
}

#norway {
  background-image: url('../assets/images/destinations/norway.png');
}

#island {
  background-image: url('../assets/images/destinations/island.png');
}

#japan {
  background-image: url('../assets/images/destinations/japan.png');
}

#france {
  background-image: url('../assets/images/destinations/france.png');
}

#scottland {
  background-image: url('../assets/images/destinations/scottland.png');
}

#russia {
  background-image: url('../assets/images/destinations/russia.png');
}

#berlin {
  background-image: url('../assets/images/destinations/berlin-germany.png');
}

#paris {
  background-image: url('../assets/images/destinations/paris-france.png');
}

#budapest {
  background-image: url('../assets/images/destinations/budapest-hungary.png');
}

#london {
  background-image: url('../assets/images/destinations/london-united-kingdom.png');
}

#barcelona {
  background-image: url('../assets/images/destinations/barcelona-spain.png');
}

#tbilisi {
  background-image: url('../assets/images/destinations/tbilisi-georgia.png');
}

#moscow {
  background-image: url('../assets/images/destinations/moscow-russia.png');
}

#amsterdam {
  background-image: url('../assets/images/destinations/amsterdam-netherlands.png');
}

#edinburgh {
  background-image: url('../assets/images/destinations/edinburgh-castle-edinburg-united-kingdom.hpng.png');
}

#neuschwanstein {
  background-image: url('../assets/images/destinations/neuschwanstein-fussen-germany.png');
}

#big-ben {
  background-image: url('../assets/images/destinations/big-ben-london-united-kingdom.png');
}

#colosseum {
  background-image: url('../assets/images/destinations/colosseum-roma-italy.png');
}

#matterhorn-zermatt {
  background-image: url('../assets/images/destinations/matterhorn-zermatt-switzerland.png');
}

#morskie-oko {
  background-image: url('../assets/images/destinations/morskie-oko-poland.png');
}

#krka {
  background-image: url('../assets/images/destinations/krka-croatia.png');
}

#cabo-da-roca-sintra {
  background-image: url('../assets/images/destinations/cabo-da-roca-sintra-portugal.png');
}

/* GUESTS REVIEWS */

#ubud-bali-resort-spa {
  background-image: url('../assets/images/reviews/ubud-bali-resort-spa.png');
}

#king-kong-hostel {
  background-image: url('../assets/images/reviews/king-kong-hostel.png');
}

#rokoko-hotel {
  background-image: url('../assets/images/reviews/rokoko-hotel.png');
}
