header.top__header.col-lg-12.col-sm-6
  svg.top__header--logo
    use(href='#logo')
  nav.top__header--menu__wrapper
    ul.top__header--menu
      li.top__header--stays Stays
      li.top__header--attractions Attractions
      li
        svg.top__header--mode__icon
          use(href='#mode')
      li
        svg.top__header--account__icon
          use(href='#account')
      li
        svg.top__header--menu__icon
          use(href='#menu')
