include ../components/page

- var pageInfo = { title: 'TripHouse' };

+page(pageInfo)
  include ../components/sprite
  include ../sections/top-section
  include ../sections/advantages
  include ../sections/homes
  include ../sections/destinations
  .sign-up__reviews--wrapper
    include ../sections/sign-up
    include ../sections/reviews
  include ../sections/footer
