/*THE BEST DESTINATIONS*/

#maldives {
  background-image: url("../images/images/destinations/maldives.png");
}

#spain {
  background-image: url("../images/images/destinations/spain.png");
}

#norway {
  background-image: url("../images/images/destinations/norway.png");
}

#island {
  background-image: url("../images/images/destinations/island.png");
}

#japan {
  background-image: url("../images/images/destinations/japan.png");
}

#france {
  background-image: url("../images/images/destinations/france.png");
}

#scottland {
  background-image: url("../images/images/destinations/scottland.png");
}

#russia {
  background-image: url("../images/images/destinations/russia.png");
}

#berlin {
  background-image: url("../images/images/destinations/berlin-germany.png");
}

#paris {
  background-image: url("../images/images/destinations/paris-france.png");
}

#budapest {
  background-image: url("../images/images/destinations/budapest-hungary.png");
}

#london {
  background-image: url("../images/images/destinations/london-united-kingdom.png");
}

#barcelona {
  background-image: url("../images/images/destinations/barcelona-spain.png");
}

#tbilisi {
  background-image: url("../images/images/destinations/tbilisi-georgia.png");
}

#moscow {
  background-image: url("../images/images/destinations/moscow-russia.png");
}

#amsterdam {
  background-image: url("../images/images/destinations/amsterdam-netherlands.png");
}

#edinburgh {
  background-image: url("../images/images/destinations/edinburgh-castle-edinburg-united-kingdom.hpng.png");
}

#neuschwanstein {
  background-image: url("../images/images/destinations/neuschwanstein-fussen-germany.png");
}

#big-ben {
  background-image: url("../images/images/destinations/big-ben-london-united-kingdom.png");
}

#colosseum {
  background-image: url("../images/images/destinations/colosseum-roma-italy.png");
}

#matterhorn-zermatt {
  background-image: url("../images/images/destinations/matterhorn-zermatt-switzerland.png");
}

#morskie-oko {
  background-image: url("../images/images/destinations/morskie-oko-poland.png");
}

#krka {
  background-image: url("../images/images/destinations/krka-croatia.png");
}

#cabo-da-roca-sintra {
  background-image: url("../images/images/destinations/cabo-da-roca-sintra-portugal.png");
}

/*GUESTS REVIEWS*/

#ubud-bali-resort-spa {
  background-image: url("../images/images/reviews/ubud-bali-resort-spa.png");
}

#king-kong-hostel {
  background-image: url("../images/images/reviews/king-kong-hostel.png");
}

#rokoko-hotel {
  background-image: url("../images/images/reviews/rokoko-hotel.png");
}
