#maldives {
  background-image: url("../images/images/maldives.png");
}

#spain {
  background-image: url("../images/images/spain.png");
}

#norway {
  background-image: url("../images/images/norway.png");
}

#island {
  background-image: url("../images/images/island.png");
}

#japan {
  background-image: url("../images/images/japan.png");
}

#france {
  background-image: url("../images/images/france.png");
}

#scottland {
  background-image: url("../images/images/scottland.png");
}

#russia {
  background-image: url("../images/images/russia.png");
}

#berlin {
  background-image: url("../images/images/berlin-germany.png");
}

#paris {
  background-image: url("../images/images/paris-france.png");
}

#budapest {
  background-image: url("../images/images/budapest-hungary.png");
}

#london {
  background-image: url("../images/images/london-united-kingdom.png");
}

#barcelona {
  background-image: url("../images/images/barcelona-spain.png");
}

#tbilisi {
  background-image: url("../images/images/tbilisi-georgia.png");
}

#moscow {
  background-image: url("../images/images/moscow-russia.png");
}

#amsterdam {
  background-image: url("../images/images/amsterdam-netherlands.png");
}

#edinburgh {
  background-image: url("../images/images/edinburgh-castle-edinburg-united-kingdom.hpng.png");
}

#neuschwanstein {
  background-image: url("../images/images/neuschwanstein-fussen-germany.png");
}

#big-ben {
  background-image: url("../images/images/big-ben-london-united-kingdom.png");
}

#colosseum {
  background-image: url("../images/images/colosseum-roma-italy.png");
}

#matterhorn-zermatt {
  background-image: url("../images/images/matterhorn-zermatt-switzerland.png");
}

#morskie-oko {
  background-image: url("../images/images/morskie-oko-poland.png");
}

#krka {
  background-image: url("../images/images/krka-croatia.png");
}

#cabo-da-roca-sintra {
  background-image: url("../images/images/cabo-da-roca-sintra-portugal.png");
}

#ubud-bali-resort-spa {
  background-image: url("../images/images/ubud-bali-resort-spa.png");
}

#king-kong-hostel {
  background-image: url("../images/images/king-kong-hostel.png");
}

#rokoko-hotel {
  background-image: url("../images/images/rokoko-hotel.png");
}
