@import url("./fonts.css");

* {
  font-family: "Roboto", sans-serif;
  color: #383838;
  text-align: center;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

.advantages-section {
  height: 569px;
  padding-top: 120px;
  box-sizing: border-box;
}

.title {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
}

.highlight-stroke:after {
  content: "";
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  display: block;
  margin: 20px auto 88px;
}

.offers-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
  width: 296px;
}

.advantages-item {
  margin-top: 112px;
  margin-bottom: 48px;
}

.text {
  font-weight: 400;
  font-size: 24px;
}
