@import url("./fonts.css");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #383838;
  text-align: center;
  line-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.advantages {
  height: 569px;
  padding-top: 120px;
}

.advantages__title {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
}

.advantages__title:after {
  content: "";
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  display: block;
  margin: 20px auto 80px;
}

.advantages__list {
  display: flex;
  justify-content: center;
}

.advantages__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 296px;
}

.advantages__item--img {
  margin-top: 112px;
  margin-bottom: 48px;
}

.advantages__item--caption {
  font-size: 24px;
}

.homes {
  background-color: #eaf0f9;
  height: 828px;
  padding-top: 120px;
}

.homes__title {
  font-weight: 500;
  font-size: 40px;
  height: 47px;
}

.homes__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 105px;
}

.homes__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 16px;
}

.homes__hotel {
  font-size: 24px;
  color: #3077c6;
  width: 295px;
  text-align: left;
  margin-top: 28px;
}

.homes__hotel--location {
  color: #bfbfbf;
}

.homes__item--last {
  margin-right: 0;
}

.footer {
  background-color: #10367c;
  height: 625px;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__menu {
  display: flex;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column--about {
  margin-right: 223px;
}

.footer__column--property {
  margin-right: 283px;
}

.footer__item {
  height: 23px;
  font-size: 20px;
  color: #fff;
  text-align: start;
  margin-bottom: 24px;
}

.footer__title {
  font-weight: 500;
}

.footer__item--last {
  margin-bottom: 0;
}

.footer__rights {
  font-size: 14px;
  color: #fff;
  display: flex;
  margin-top: 64px;
}

.top {
  background-image: url("../images/images/top-section.svg");
  background-position: top;
  min-height: 100vh;
  padding: 51px 104px 120px;
}

.top__header {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  margin: auto;
}

.top__header--logo {
  background: url("../images/images/icons-sprite.png");
  width: 205px;
  height: 40px;
}

.top__header--menu {
  display: flex;
  align-items: center;
}

.top__header--stays {
  font-size: 24px;
  color: #fff;
  margin-top: 12px;
}

.top__header--stays:after {
  content: "";
  background-color: #f5bd41;
  width: 50px;
  height: 4px;
  display: block;
  margin: 12px auto 0;
}

.top__header--attractions {
  font-size: 24px;
  color: #fff;
  margin-left: 24px;
}

.top__header--mode {
  background: url("../images/images/icons-sprite.png") -205px;
  width: 30px;
  height: 30px;
  margin-left: 48px;
}

.top__header--account {
  background: url("../images/images/icons-sprite.png") -235px;
  width: 40px;
  height: 40px;
  margin-left: 24px;
}

.top__container {
  display: flex;
  flex-direction: column;
  max-width: 1232px;
  margin: auto;
}

.top__title {
  font-size: 50px;
  font-weight: 500;
  width: 542px;
  text-align: left;
  color: #fff;
  margin: 202px 0 100px;
}

.top__search--caption {
  display: flex;
  font-size: 18px;
  margin-bottom: 24px;
  color: #fff;
}

.top__search--caption__destination {
  color: #fff;
  padding: 0 221px 0 24px;
}

.top__search--caption__date {
  color: #fff;
}

.top__search {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
  height: 64px;
  max-width: 1232px;
  font-size: 18px;
  align-items: center;
  margin: auto;
  box-sizing: content-box;
}

.top__search--destination {
  text-align: left;
  min-width: 443px;
  padding-left: 24px;
  box-sizing: content-box;
}

.top__search--date {
  border: 3px solid #f5bd41;
  border-radius: 8px;
  min-width: 259px;
  padding: 23px 0;
  box-sizing: content-box;
}

.top__search--amount {
  min-width: 314px;
}

.top__search--button {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  background-color: #3077c6;
  border-radius: 8px;
  border: 3px solid #3077c6;
  padding: 20px 57px;
}

.top__footer {
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 120px;
}

.top__footer--google-play {
  background: url("../images/images/icons-sprite.png") 255px;
  width: 135px;
  margin-right: 17px;
}

.top__footer--app-store {
  background: url("../images/images/icons-sprite.png") 120px;
  width: 120px;
}
